.product-card {
    background: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: transform 0.2s;
}
.product-card:hover {
    transform: translateY(-5px);
}
.card-info {
    padding: 1rem;
}

.price {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}
/*------------------------------------*/