.product-card {
    background: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: transform 0.2s;
}
.product-card:hover {
    transform: translateY(-5px);
}
.card-info {
    padding: 1rem;
}

.price {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}
/*------------------------------------*/
.product-detail-container {
    padding: 1rem;
}

.product-image-container {
    width: 100%;
    background: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.main-product-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.product-info h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.product-price {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.product-description, .product-specs {
    margin-bottom: 1.5rem;
}

.product-specs ul {
    list-style: none;
    padding-top: 0.5rem;
}

.product-specs li::before {
    content: "•";
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

.stock-container {
    margin: 15px 0;
}
.stock-tag {
    display: inline-flex;
    align-items: center;
    background-color: #ecfdf5; 
    color: #059669;            
    padding: 6px 14px;
    border-radius: 50px;       
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border: 1px solid #d1fae5;
}

.stock-tag::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #10b981; 
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    animation: pulse-stock 2s infinite;
}  
/*---------------------------------*/
.btn-remove {
    background: transparent;
    border: none;
    color: #ff7675;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
}

.cart-summary {
    background: var(--white);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    height: fit-content;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.summary-row.total {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--text-dark);
}

.free-shipping {
    color: var(--accent-color);
    font-weight: bold;
}
/*---------------------------------*/

